


.button {
  background-color: var(--primary);
  border: none;
  border-radius: 30em;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  height: 3em;
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
  width: 9em;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
 }

 .button:active{
  transform: scale(1.05);
  transition: all .3s ease;
 }
 
 .button::before {
  background-image: linear-gradient(to right, var(--primary) 0%, rgb(150, 53, 255) 100%);
  border-radius: 30em;
  content: '';
  display: block;
  height: 3em;
  left: 0;
  position: absolute;
  top: 0;
  transition: .5s ease;
  width: 0;
  z-index: -1;
 }
 
 .button:hover::before {
  width: 9em;
 }